@import './base';
$color_map: ('green' $green-color) ('blue' $primary-color) ('orange' $orange-color) ('yellow' $yellow-color);

@mixin btn($font_color, $bg_color){
    .nb_btn{
        padding: 8px 12px;
        color: $font_color;
        border-radius: 2px;
        @each $name, $val in $color_map{
            &.nb_btn_#{$name}{
                background-color: $val;
                border: 1px solid $val;
                color: #ffffff;
            }
            &.nb_btn_outline{
                color: $val;
                background-color: transparent;
                border: 1px solid $val;
            }
        }
        &.nb_button_small{
            padding: 2px 4px;
        }
    }
}
