$color: #820014 #ad4e00 #d48806 #3f6600 #006d75 #002766 #9e1068;
.container{
  width: 100%;
  height: 100%;
  .it{
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 50%;
    @for $i from 1 through 7{
      &.color-#{$i}{
        background-color: nth($color, $i);
      }
    }
    &.hidden{
      animation: hidden 0.5s 0.3s forwards;
      transition: transform 0.3s;
    }
  }
}
@keyframes hidden{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 300px;
    height: 300px;
  }
}
