@import './base';
.nb_btn{
    padding: 8px 12px;
    color: shallow-grey;
    background-color: $grey-color;
    border-radius: 2px;
    &.nb_btn_green{
        background-color: $green-color;
        border: 1px solid $green-color;
        color: $base-color;
    }
    &.nb_btn_primary{
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $base-color;
    }
    &.nb_btn_orange{
        background-color: $orange-color;
        border: 1px solid $orange-color;
        color: $base-color;
    }
    &.nb_button_small{
        padding: 2px 4px;
    }
    &.nb_btn_outline{
        color: $main-color;
        background-color: transparent;
        border: 1px solid $primary-color;
    }
}
