@import './base';
@import './layout';
.nb_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nb_create_item{
    display: flex;
    margin-bottom: 10px;
    dt{
        width: 60px;
    }
    dd{
        flex: 1;
    }
    input[type="text"], textarea{
        border: 1px solid $grey-color;
        ;
        width: 100%;
    }
    textarea{
        height: 100px;
    }
    input[type="file"]{
        width: 48px;
        opacity: 0;
        margin-left: -48px;
    }
    .imageBox,.editArea{
        width:100%;
        height: 200px;
        overflow: hidden;
        .ImageCover{
            background: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            margin-top: -200px;
        }
        .showImage{
            width: 100%;
        }
    }
    input[type="radio"],input[type="checkbox"]{
        margin: 0 2px 0 6px;
    }
}
.nb_question{
    h4{
        margin-bottom: 10px;
    }
}
