@import '../common/base';
.nb_wrap{
    width: 100%;
    .nb_content{
        padding: 54px 6px 50px;
        .nb_home_title{
            color: $second-main-color;
            font-size: 16px;
            line-height: 1.8em;
            margin-top: 2%;
        }
    }
}
