$color: #820014 #d4380d #ad4e00 #fa8c16 #d48806 #faad14 #3f6600 #a0d911 #006d75 #08979c #002766  #1890ff #722ed1 #391085 #c41d7f #9e1068;
.container{
  display: grid;
  grid-template-rows: repeat(6, 120px);
  grid-template-columns: repeat(3, 120px);
  grid-gap: 10px;
  .item{
    text-align: center;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    visibility: visible;
    // @for $i from 1 through 16 {
    //   &.item#{$i} {
    //     background-color: nth($color, $i)
    //   }
    // }
    .roll-wrap{
      perspective: 600px;
      transform-style: preserve-3d;
      position: relative;
      .roll-box{
        height: 130px;
        width: 120px;
        overflow: hidden;
        position: absolute;
        .roll-front{
          background-color: #820014;
        }
        .roll-front, .roll-back{
          transform-style: preserve-3d;
          transition: transform 1s;
          position: absolute;
          top: 0;
          backface-visibility: hidden;
          width: 120px;
          height: 120px;
        }
        .roll-back{
          transform: rotateY(180deg);
          // transition: opacity 0.5s ease-in-out;
          background-color: #a0d911;
        }
        .roll-fronted{
          transform: rotateY(0deg);
        }
        .roll-backed{
          transform: rotateY(-180deg);
        }
      }
    }
  }
}

@keyframes flip {
  from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out
  }
  40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out
  }
  50% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
  80% {
      -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
      transform: perspective(400px) scale3d(.95, .95, .95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
  to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
}
