$color: #820014 #d4380d #ad4e00 #fa8c16 #d48806 #faad14 #3f6600 #a0d911 #006d75 #08979c #002766  #1890ff #722ed1 #391085 #c41d7f #9e1068;
.container{
  display: grid;
  grid-template-rows: repeat(6, 140px);
  grid-template-columns: repeat(3, 140px);
  grid-gap: 10px;
  margin: 10px;
  .item{
    text-align: center;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    visibility: visible;
    // @for $i from 1 through 16 {
    //   &.item#{$i} {
    //     background-color: nth($color, $i)
    //   }
    // }
    .roll-wrap{
      perspective: 600px;
      transform-style: preserve-3d;
      position: relative;
      .roll-box{
        height: 130px;
        width: 120px;
        overflow: hidden;
        position: absolute;
        .roll-front{
          background-color: #820014;
        }
        .roll-front, .roll-back{
          transform-style: preserve-3d;
          transition: transform 1s;
          position: absolute;
          top: 0;
          backface-visibility: hidden;
          width: 120px;
          height: 120px;
        }
        .roll-back{
          transform: rotateY(180deg);
          // transition: opacity 0.5s ease-in-out;
          background-color: #a0d911;
        }
        .roll-fronted{
          transform: rotateY(0deg);
        }
        .roll-backed{
          transform: rotateY(-180deg);
        }
      }
    }
  }
  .item2{
    .circle-box{
      width: 120px;
      height: 120px;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
      border-radius: 50%;
      position: relative;
      // padding-left: 1px;
      // padding-right: 1px;
      overflow: hidden;
      margin: 0 auto;
    }
    .circle-mask{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 0 60px 60px 0;
      clip: rect(0 120px 120px 60px); //右
      &.circle-mask-left{
        border-radius: 60px 0 0 60px;
        clip: rect(0 60px 120px 0px); //左
      }
      .circle-fill{
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 1px #1f7aea;
        backface-visibility: hidden;
        transition: transform 1s;
        &.circle-loaded{
          border-radius: 60px 0 0 60px;
          clip: rect(0 60px 120px 0);
        }
        &.circle-loaded-right{
          border-radius: 0 60px 60px 0;
          clip: rect(0 120px 120px 60px);  //右
          transition: transform 0.9s 1s;
        }
        &.circle-loading{
          transform: rotate(180deg);
        }
      }
    }
  }
}
$deg: floor(180/100);
@keyframes loadWrap{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate($deg*25deg);
  }
  50%{
    transform: rotate($deg*50deg);
  }
  75%{
    transform: rotate($deg*75deg);
  }
  100%{
    transform: rotate($deg*100deg);
  }

}

@keyframes flip {
  from {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out
  }
  40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out
  }
  50% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
  80% {
      -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
      transform: perspective(400px) scale3d(.95, .95, .95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
  to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in
  }
}
