
<div class="nb_wrap">
    <div class="nb_content">
        <form id="myRegister" name="register" method="post" action="/saveRegiser" onsubmit="return true">
        <input type="text" name="username" maxlength="20" autocomplete="false"/>
        <input type="password" name="password" maxlength="20" autocomplete="false"/>
        <input type="submit"/>
        </form>
    </div>
</div>

