@import '../common/base';
.nb_user_wrap{
    height: 60px;
    overflow: hidden;
    margin: 10px auto;
    .nb_user_avator_box{
        margin-right: 10px;
    }
    .nb_user_name{
        color: rgb(23,25,27);
    }
    .nb_user_title{
        color: rgb(75, 75, 75);
        font-size: 12px;
    }
    img{
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
}
.nb_history_list{
    height: 48px;
    line-height: 48px;
    border-width: 1px 0;
    border-color: rgb(231,231,231);
    border-style: solid;
    text-align: center;
}
