.nb_list_item{
  height: 168px;
  overflow: hidden;
  img{
    width: 168px;
    height: 168px;
    background-color: rgb(206, 213, 214);
    border-radius: 6px;
  }
  .nb_list_qbnk{
    background-color: #ffffff;
    padding: 5%;
    border-radius: 8px;
    margin-left: -5%;
    height: 116px;

    .nb_list_qbank_name{
      font-size: 18px;
    }
    .nb_list_progress{
      color: rgb(157, 157, 157);
    }
  }
}
