@import '../base';
$color-list:$red-color $orange-color $primary-color;
.nb_rank_item{
  margin-top: 4%;
  padding: 2%;
  border-left: 4px solid $main-color;
  @for $i from 1 through 3{
    &:nth-of-type($i-1){
      border-left-color: lighten(nth($color-list, $i), 60%);
    }
    .nb_rank_title:nth-of-type($i-1){
      color: nth($color-list, $i);
    }
  }
  .nb_list_avator{
    vertical-align: -4px;
  }
  .nb_rank_nickname{
    margin-left: 10px;
    vertical-align: 2px;
    .nb_rank_title{
      margin-right: 10px;
      font-weight: 700;
    }
  }
  .nb_rank_repution{
    margin-top: 10px;
    color: $grey-color;
  }
}
